/*Modo claro*/

:root{
  --colorHeader:#fdd225;
  --colorAside: #fdd225;
  --colorSectionMeme: #d3e6e6;
  --colorTopText: #b1dfdf;
  --colorAsideButton:#fadb5e;
  --colorAsideButtonHover:#c4e7f7;
  --mainColorFont: #072448;
  --secondColorFont: #1F306E;
  --mainFont: 'Londrina Solid', cursive;
  --secondFont: 'Open Sans Condensed', sans-serif;
  --borderRadius: 15px;
}

body.dark-mode{
  --colorHeader:#380630;
  --colorAside:#380630;
  --colorSectionMeme: #030e1b;
  --colorTopText:#01182e;
  --colorAside: #310f2e;
  --colorAsideButton: #5e545c;
  --colorAsideButtonHover: #754b71;
  --mainColorFont: #e7ebeb;
  --mainFont: 'Londrina Solid', cursive;
  --secondFont: 'Open Sans Condensed', sans-serif;
  --borderRadius: 15px;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--mainColorFont);
}

body{
  display: flex;
  flex-direction: column;
  font-family: var(--mainFont);
  height: 100vh;
}

button{
  cursor: pointer;
}

.display-none{
 display: none;
} 